/api/node_modules
/api/dist
/api/.env

/db/node_modules
/db/dist
/db/.env

/engine/node_modules
/engine/dist
/engine/snapshot.json
/engine/coverage

/ws/node_modules
/ws/dist

/mm/node_modules
/mm/dist